// ARTICLE
section {

    @include container (auto);

    display:         flex;
    align-items:     center;
    flex-flow:       inherit;
    margin-top:      1em;
    
}

main {
    background:   $transparent-main-color;
    .aboutus &  { background:$color-bg-aboutus; }
    .team &     { background: $color-bg-team; }
    .FAQ &      { background: $color-bg-FAQ; }
    
    @include overflow (hidden);
}
