
@media screen and (max-width:1340px) {

    ul {
        padding:0;
    }
}


@media screen and (max-width:850px) {
    section{
    flex-direction: column;
    align-items: center;
}}

@media screen and (max-width: 768px) {
    #menu {
        width:1.4em;
        display: block;
        background: lighten($color-menu-txt, 30%);
        font-size:2em;
        text-align: center;
        color:darken($color-menu-txt,20%);
        cursor: pointer;

    }
    #nav.js {
        display: none;
    }

}

@media screen and (min-width: 768px) {
    #menu {
        display: none;
    }
}

@media screen and (max-width: 704px) {
        .heartbeat ul {
      margin: 0;
      padding: 0;
         }

}

@media screen and (max-width: 600px) {
    .gamenav a {
        padding-right: 0;
        font-size: 2em;
    }
}


